[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pypdf2" = "*"
"pdfminer.six" = "*"
requests = "*"
twine = "*"
pytest = "*"
codecov = "*"
coverage = "*"
pytest-cov = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
